.cardVista {
    margin-top: 40px !important;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.14), 2px 2px 2px 2px rgba(0, 0, 0, 0.12), 2px 2px 2px 5px rgba(0, 0, 0, 0.2) !important;
}

.fondo {
    background-color: #c0392b;
}

.boton_personalizado:hover {
    color: #fff !important;
    background-color: #ffffff !important;
    margin-left: 25px;
    margin-right: 20px;
}

.boton_personalizado {
    margin-left: 20px;
    margin-right: 15px;
}